{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/abc.css' %}">
    
    <title>Document</title>
</head>
<body>
    <h1 class="div">Heading</h1>
    <img src="{% static 'image/abc.jpg' %}">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae amet temporibus, obcaecati, explicabo rem quibusdam repellendus fuga at excepturi, ipsam corrupti corporis est minus soluta exercitationem. Perspiciatis atque a optio?</p>
</body>
</html>